
.boas-vindas__titulo{
    animation: aparecer-titulo 1.2s;
    color: var(--cor-textos);
    font-size: 3.5rem;
    font-weight: 700;
    margin-top: 2rem;
}

@keyframes aparecer-titulo {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    20%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@media screen and (min-width: 385px) {
    .boas-vindas__titulo{
        width: 80%;
    }
}
@media screen and (min-width: 473px) {
    .boas-vindas__titulo{
        width: 70%;
    }
}
@media screen and (min-width: 537px) {
    .boas-vindas__titulo{
        font-size: 4.5rem;
        width: 80%;
    }
}
@media screen and (min-width: 600px) {
    .boas-vindas__titulo{
        font-size: 4rem;
        width: 100%;
    }
}
@media screen and (min-width: 1024px) {
    .boas-vindas__titulo{
        font-size: 5rem;
    }
}