
.cabecalho__menu{
    align-items: center;
    background-color: var(--bg-menu-mobile);
    display: flex;
    height: calc(100vh - 100px);
    position: fixed;
    right: -100vw;
    top: 100px;
    width: 45%;
    transition: .5s;
}

.cabecalho__menu--mostrar{
    right: 0;
    transition: .5s;
}


.bi-menu-abrir::before{
    display: inline-block;
    content: "\F479";
    font-size: 2.5rem;
}
.bi-menu-fechar::before{
    display: inline-block;
    content: "\F62A";
    font-size: 2.5rem;
}

@media screen and (min-width: 1024px) {
    .cabecalho__menu{
        align-items: center;
        background-color:initial;
        display: flex;
        height: 100%;
        position: initial;
        right: initial;
        top: initial;
        width: 45%;
        transition:none;
    }

    .bi-menu-abrir{
        display: none
    }
    
    .bi-menu-abrir::before{
        display: none
    }
    .bi-menu-fechar::before{
        display:none
    }
}