.menu__lista{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media screen and (min-width: 1024px) {
    .menu__lista{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }
}