.tecnologias__titulo{
    font-size: 1.125rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.tecnologias__titulo::before {
    display: inline-block;
    content: "";
    width: 20%;
    height: 6px;
    background: var(--laranja);
    vertical-align: middle;
    margin-right: .5rem;
}

.tecnologias__titulo::after {
    display: inline-block;
    content: "";
    width: 20%;
    height: 6px;
    background: var(--laranja);
    vertical-align: middle;
    margin-left: .5rem;
}