
.cabecalho{
    height: 100px;
    width: 100vw;
}
.cabecalho .modulo-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (min-width: 1024px) {
    .cabecalho .modulo-container{   
        align-items: center;
    }
    
}