.roda-pe__link{
    color: var(--cor-textos);
    font-weight: 500;
}
@media screen and (min-width: 768px) {
    .roda-pe__link:hover{
        border-bottom: solid 2px ;
        color: var(--laranja);
    }
}