.atuacao__card-container{
    align-items: center;
    display: flex;
    flex-direction: column ;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .atuacao__card-container{
        align-items: flex-start;
        flex-direction: row ;
        justify-content: space-around;
        width: 100%;
    }
}
@media screen and (min-width: 900px) {
    .atuacao__card-container{
        align-items: flex-start;
        flex-direction: row ;
        justify-content: space-around;
        width: 85%;
    }
}
@media screen and (min-width: 1220px) {
    .atuacao__card-container{
      
        width: 65%;
    }
}