.menu__link {
    color: var(--cor-textos);
    font-weight: 700;
    text-decoration: none;
}

@media screen and (min-width: 1024px) {
    .menu__link:hover {
        color: var(--laranja);
        border-bottom: solid 3px;
    }
}