.experiencia__cartao{
    display: flex;
    width: 100%;
}
.experiencia__container{
    display: flex;
    flex-direction: column;
    margin: .5rem 1rem .5rem 0;

}
.experiencia__empresa{
    width: 35%;  
}
.experiencia__funcao{
    width: 75%;  
}
.experiencia__posicao{
    color: var(--cinza-azulado);
    font-family: var(--fonte-titulos);
    font-weight: 700;
}

/* responsivo */
@media screen and (max-width: 768px) {
    .experiencia__cartao{
        flex-direction: column;
        border-bottom: solid 1px ;
    }
    .experiencia__empresa{
        width: 100%;  
    }
    .experiencia__funcao{
        width: 100%;  
    }
}

