.formacao__card{
    margin-bottom: .75rem;
}
.formacao__info{
    padding: .5rem 0;
}
.formacao__ano{

    color: var(--azul-acinzentado);
    font-size: var(--tamanho-fonte-textos);
    font-weight: 700;
}