.modulo-container{
    margin-inline: 1rem;
}

/* titulo com duas faixas */
.modulo-titulo__faixa-dupla {
    font-size: 1.125rem;
    padding-bottom: 2rem;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.modulo-titulo__faixa-dupla::before,
.modulo-titulo__faixa-dupla::after {
    display: inline-block;
    content: "";
    width: 20%;
    height: 6px;
    background: var(--laranja);
    vertical-align: middle;
}

.modulo-titulo__faixa-dupla::before {
    margin-right: .5rem;
}

.modulo-titulo__faixa-dupla::after {
    margin-left: .5rem;
}


@media screen and (min-width: 768px) {
    .modulo-titulo__faixa-dupla {
        font-size: 1.5rem;
    }
    
}

@media screen and (min-width: 1024px) {
    .modulo-container{
        margin-inline: 3rem;
    }
}
