@import url(./perfi-foto.css);

.perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid white .5px;

}

.perfil__foto{
    width: 45%;
    border-radius: 100px;
}

/* Responsivo */
@media screen and (max-width:  768px) {
    .perfil__foto{
        width: 40%;
        border-radius: 200px;
    }
}
