.bi-icone {
    color: var(--branco);
    display: inline-block;
    font-size: 1.5rem;
}


.bi-icone-linkedin::before {
    content: "\F472";
}

.bi-icone-github::before {
    content: "\F3ED";
}

.bi-icone-email::before {
    content: "\F73A";
}

.bi-icone-whatsapp::before {
    content: "\F618";
}


@media screen and (min-width: 768px) {

    .bi-icone:hover {
        color: var(--laranja);
        display: inline-block;
        font-size: 1.75rem;
    }

}