
.boas-vindas__funcao{
    animation: aparecer-funcao 1.5s;
    color: var(--cor-textos);
    font-size: .9rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 1rem;
    letter-spacing: 1.5px;
}
@keyframes aparecer-funcao {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    40%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}