.boas-vindas__saudacao::before{
    display: inline-block;
    content: "";
    width: 80px;
    height: 6px;
    background: var(--laranja);
    vertical-align: middle;
    margin-right: 1rem;
}
.boas-vindas__saudacao{
    animation: aparecer-saudacao .9s;
    color: var(--cor-textos);
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: 5px;
    text-transform: uppercase;
}


@keyframes aparecer-saudacao {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@media screen and (min-width: 600px) {
    .boas-vindas__saudacao::before{
        width: 120px;
    }
    .boas-vindas__saudacao{
        font-size: 1.25rem;

    }
}