@media screen and (min-width: 768px) {
    .sobre__conteudo{
        padding-inline: .75rem;
        width: 55%;
    }
}
@media screen and (min-width: 768px) {
    .sobre__conteudo{
        padding-inline: .75rem;
        width: 55%;
    }
}