.sobre{
    background-image: url('../../img/molduraFoto.svg');
    background-position: center 7%;
    background-repeat: no-repeat;
    background-size: 80%;
    height: 100vh;
    font-family: var(--fonte);
}
.sobre .modulo-container{
    padding-top: 17%;
}