.sobre__img{
    background-color: black;
    background-image: url('../../img/bruno_dias.jpg');
    background-size: contain;
    border-radius: 100%;
    height: 225px;
    margin: 0 auto;
    width:225px;
}
